<div class=" col-md-12 center">

    <div class="col-md-12">
        <label class="fieldlist-label">Seleccione el numero de dias a tomar</label>
        <input class="NumDias k-textbox" type="number" min="6" maxlength="2" max="@ViewBag.NumeroDias" placeholder="6" />
        <br />
        <br />
    </div>

    <div class="col-md-12 row">

        <div class="col-md-6">
            <label class="fieldlist-label">Inicio de vacaciones</label>
            <input class="kendocalendar" style="width:auto" />
            <br />
            <br />
        </div>

        <div class="col-md-6">
            <label class="fieldlist-label">Fin de vacaciones</label>
            <input class="kendocalendar" style="width:auto" />
        </div>




    </div>

    <div class="col-md-12">
        <button class="btn btn-lg btn-postobon">Agregar</button>
        <br />
        <br />
    </div>

    <hr />

    <input id="DocumentoHidden" type="hidden" value="@ViewBag.Documento" />

</div>