<div class="col-md-12 center">

    <div class="col-md-12">
        <h3>Solicitud de vacaciones a otros colaboradores</h3>
    </div>

    <br />

    <div class="col-md-12">

        <label style="font-weight: bold; text-transform: uppercase; color: #444;">Cedula</label>

        <input style="margin:1.5%;" type="number" class="k-textbox" min="6" maxlength="2" max="@ViewBag.NumeroDias" placeholder="Digite el numero de cedula" />

        <button id="btnOtrosColaboradoresModal" class="k-button k-primary">Buscar</button>

    </div>
</div>
<hr />