<div class="col-md-12 center">

    <div class="col-md-12 jumbotron-encabezado">

        Registro de solicitud de vacaciones para otros trabajadores.

    </div>


    <div class="col-md-12">

        <label style="font-weight: bold;  color: #444;">Documento de identidad</label>

        <input id="txtCedulaOtros" style="margin:1.5%;" type="number" class="k-textbox" min="6" maxlength="2" max="@ViewBag.NumeroDias" placeholder="Digite el número del documento de identificación." />

        <button id="btnOtrosColaboradoresModal" class="btn btn-postobon btn-lg">Buscar</button>

    </div>
</div>
<hr />