
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script>
        $(document).ready(function () {
            //Creacion de la grid
            $("#rowSelection").kendoGrid({
                dataSource: {
                    data: "",
                    pageSize: 10
                },
                selectable: false,
                resizable: true,
                pageable: {
                    buttonCount: 5
                },
                scrollable: true,
                columns: [
                    {
                        field: "nmroDcmnto",
                        title: "Documento",
                        width: 100,
                        media: "(min-width: 50px)",
                        headerAttributes: {
                            style: "text-align: center"
                        },
                    },
                    {
                        field: "nmbre_cmplto",
                        title: "Nombre completo",
                        width: 100,
                        media: "(min-width: 50px)",
                        headerAttributes: {
                            style: "text-align: center"
                        },
                    },
                    {
                        field: "nmro_ds",
                        title: "Nro. de días a tomar",
                        width: 100,
                        media: "(min-width: 50px)",
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "fcha_inco_vccns",
                        title: "Inicio de vacaciones",
                        width: 100,
                        media: "(min-width: 50px)",
                        headerAttributes: {
                            style: "text-align: center"
                        },
                        template: "#= kendo.toString(kendo.parseDate(fcha_inco_vccns), 'dd/MM/yyyy') #"
                    },
                    {
                        field: "fcha_fn_vcc",
                        title: "Fin de vacaciones",
                        width: 100,
                        media: "(min-width: 50px)",
                        headerAttributes: {
                            style: "text-align: center"
                        },
                        template: "#= kendo.toString(kendo.parseDate(fcha_fn_vcc), 'dd/MM/yyyy') #"
                    },
                    {
                        title: "Acciones",
                        headerAttributes: {
                            style: "text-align: center"
                        },
                        columns: [
                            {
                            width: 80,
                            command: [
                                {
                                    name: "Aprobar",
                                    text: "Aprobar",
                                    click: function (e) {
                                    //Se identifica la fila en la cual se le dio click al boton editar
                                        var item = this.dataItem($(e.currentTarget).closest("tr"));
                                    }
                                }
                            ]
                            },
                            {
                            width: 90,
                            command: [
                                {
                                    name: "Rechazar",
                                    text: "Rechazar",
                                    click: function (e) {
                                        var item = this.dataItem($(e.currentTarget).closest("tr"));
                                        var grid = $("#rowSelection").data("kendoGrid");                                
                                    }
                                }
                            ]
                            }
                        ]
                    }
                ]
            });
        });
    </script>
</head>
<body>
    <div class="jumbotron">
        <div class="jumbotron-cuerpo">  
            <br />
            <div class="col-md-12 center">
                <div class="col-md-12 jumbotron-encabezado">
                    Aprobar o rechazar novedad
                </div>
            </div>
            <br /><br />
            <div class="k-widget k-grid">
                <div style="display:table-cell; overflow:auto" id="rowSelection"></div>
            </div>
        </div>
    </div>
</body>