@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="jumbotron-cuerpo">
        <div class="container body-content">
            <h1 class="jumbotron-encabezado center">Solicitud de vacaciones</h1>
            <div class="col-md-12 center">
                <label class="fieldlist-label">Usuario</label>
                <input class="k-textbox" type="text" />
                <br />
                <br />
            </div>
            <div class="col-md-12 center">
                <label class="fieldlist-label">Contrase&ntilde;a</label>
                <input class="k-textbox" type="text" />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>