
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>

        $(document).ready(function () {

            //Funcion utilizada para evitar que se pongna decimales, "." y "," dentro del campo numeor de dias
            (function ($) {
                $.fn.inputFilter = function (inputFilter) {
                    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                        if (inputFilter(this.value)) {
                            this.oldValue = this.value;
                            this.oldSelectionStart = this.selectionStart;
                            this.oldSelectionEnd = this.selectionEnd;
                        } else if (this.hasOwnProperty("oldValue")) {
                            this.value = this.oldValue;
                            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                        }
                    });
                };
            }(jQuery));

            $("#NroDocumento").inputFilter(function (value) {
                return /^\d*$/.test(value);
            });

            $("#btnAgregar0").click(function () {
                if ($("#NroDocumento").val() != '') {

                    $("#DivFondoTrasparente").show();
                    $("#DivCirculoAzul").show();

                    $.getJSON("/Home/ConsultarUserSAP", { NroDocumento: parseInt($("#NroDocumento").val()) }, function (oRespuestaSAP) {
                        switch (oRespuestaSAP.Codigo) {


                            case "6":

                                $("#DivFondoTrasparente").hide();
                                $("#DivCirculoAzul").hide();

                                swal.fire({
                                    text: oRespuestaSAP.Mensaje,
                                    type: 'warning',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break;

                            case "5":

                                $("#DivFondoTrasparente").hide();
                                $("#DivCirculoAzul").hide();

                                swal.fire({
                                    text: oRespuestaSAP.Mensaje,
                                    type: 'warning',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break;

                            case "4":
                                $.post("../Home/ConsultaMotorDeReglas", { RespuestaSAP: JSON.stringify(oRespuestaSAP.Resultado.Data) }, function (oRespuestaMotorReglas) {

                                    switch (oRespuestaMotorReglas.Codigo) {

                                        case "1":

                                            $("#DivFondoTrasparente").hide();
                                            $("#DivCirculoAzul").hide();

                                            $("#NroDocumento").val('');

                                            var resultado = oRespuestaMotorReglas.Resultado.Data.Escenario[0].Url.split('$');
                                            var url = $("#RedirectTo").val();
                                            url = url.replace("ActionName", resultado[0]);
                                            url = url.replace("ControllerName", resultado[1]);
                                            $.redirect(url, { oDatosFormulario: JSON.stringify(oRespuestaMotorReglas.Resultado.Data), oDatosSAP: JSON.stringify(oRespuestaSAP.Resultado.Data) }, "POST", '_blank');

                                            //window.close('', '_parent', '');

                                            break;

                                        case "-1":

                                            $("#DivFondoTrasparente").hide();
                                            $("#DivCirculoAzul").hide();

                                            swal.fire({
                                                text: oRespuestaMotorReglas.Mensaje,
                                                type: 'error',
                                                confirmButtonText: "OK",
                                                confirmButtonColor: '#00AFF0',
                                                allowOutsideClick: false,
                                                allowEscapeKey: false
                                            });
                                            break;

                                        case "-2":

                                            $("#DivFondoTrasparente").hide();
                                            $("#DivCirculoAzul").hide();

                                            swal.fire({
                                                text: oRespuestaMotorReglas.Mensaje,
                                                type: 'error',
                                                confirmButtonText: "OK",
                                                confirmButtonColor: '#00AFF0',
                                                allowOutsideClick: false,
                                                allowEscapeKey: false
                                            });
                                            break;

                                        case "-3":

                                            $("#DivFondoTrasparente").hide();
                                            $("#DivCirculoAzul").hide();

                                            swal.fire({
                                                text: oRespuestaMotorReglas.Mensaje,
                                                type: 'error',
                                                confirmButtonText: "OK",
                                                confirmButtonColor: '#00AFF0',
                                                allowOutsideClick: false,
                                                allowEscapeKey: false
                                            });
                                            break;
                                    }
                                });
                                break;

                            case "3":

                                $("#DivFondoTrasparente").hide();
                                $("#DivCirculoAzul").hide();

                                swal.fire({
                                    text: oRespuestaSAP.Mensaje,
                                    type: 'error',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break;

                            case "2":

                                $("#DivFondoTrasparente").hide();
                                $("#DivCirculoAzul").hide();

                                swal.fire({
                                    text: oRespuestaSAP.Mensaje,
                                    type: 'error',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break;

                            case "1":

                                $("#DivFondoTrasparente").hide();
                                $("#DivCirculoAzul").hide();

                                swal.fire({
                                    text: oRespuestaSAP.Mensaje,
                                    type: 'warning',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break;

                            case "-1":

                                $("#DivFondoTrasparente").hide();
                                $("#DivCirculoAzul").hide();

                                swal.fire({
                                    text: oRespuestaSAP.Mensaje,
                                    type: 'error',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });

                                break;

                            case "-2":

                                $("#DivFondoTrasparente").hide();
                                $("#DivCirculoAzul").hide();

                                swal.fire({
                                    text: oRespuestaSAP.Mensaje,
                                    type: 'error',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });

                                break;


                            case "-3":

                                $("#DivFondoTrasparente").hide();
                                $("#DivCirculoAzul").hide();

                                swal.fire({
                                    text: oRespuestaSAP.Mensaje,
                                    type: 'error',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });

                                break;

                            case "-4":

                                $("#DivFondoTrasparente").hide();
                                $("#DivCirculoAzul").hide();

                                swal.fire({
                                    text: oRespuestaSAP.Mensaje,
                                    type: 'warning',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });

                                break;
                        }
                    });
                }
                else {
                    swal.fire({
                        text: "El campo Nro. de identificación es obligatorio",
                        type: 'warning',
                        confirmButtonText: "OK",
                        confirmButtonColor: '#00AFF0',
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    });
                }
            });
        });

    </script>

</head>
<body>
    @Html.Hidden("RedirectTo", Url.Action("ActionName", "ControllerName"))
    <div class="jumbotron">
        <div class="jumbotron-cuerpo">
            <div class="container body-content">
                <h1 class="jumbotron-encabezado center">Login</h1>
                <div class="col-md-12 center">
                    <h6>No hemos identificado un usuario en el directorio activo <br /> Por favor ingrese su n&uacute;mero de documento de identidad</h6>
                    @*<label class="fieldlist-label">Documento de identidad</label>*@
                    <input id="NroDocumento" class="k-textbox" type="text" onkeydown="return event.keyCode !== 69" />
                    <br />
                    <br />
                    <button class="btn btn-lg btn-postobon">Ingresar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>