
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/FormScripts/Home.js"></script>
    <script>

        $(document).ready(function () {
            cargarPagina();
        });

    </script>

</head>
<body>
    @Html.Hidden("RedirectTo", Url.Action("ActionName", "ControllerName"))
    <div class="jumbotron">
        <div class="jumbotron-cuerpo">
            <div class="container body-content">
                <h1 class="jumbotron-encabezado center">Login</h1>
                <div class="col-md-12 center">
                    <h6>No hemos identificado un usuario en el directorio activo <br /> Por favor ingrese su n&uacute;mero de documento de identidad</h6>

                    <input id="NroDocumento" class="k-textbox" type="text" onkeydown="return event.keyCode !== 69" />
                    <br />
                    <br />
                    <button class="btn btn-lg btn-postobon">Ingresar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>