@{
    ViewBag.Title = "Home Page";
}\
<!-- Modal -->
<div id="miModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Contenido del modal -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="jumbotron-cuerpo">
                    @Html.Partial("_ModalAnotadores")
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<button id="fireme" class="btn btn-default">Fire me up!</button>
<div class="modal fade" id="EnSureModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Do ypu need change </h4>
            </div>
            <div class="modal-body">
                <div class="jumbotron-cuerpo">
                    @Html.Partial("_ModalAnotadores")
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">no</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">yes</button>
            </div>
        </div>
    </div>
</div>






<script>

    $(document).ready(function () {

        //Telerik.Web.UI.Calendar.Popup.zIndex = 10000000;
        $("#fireme").click(function () {
            $("#EnSureModal").modal();

            var elem = document.getElementById('datepicker');
            elem.id = "datepiker1"

            //$("#datepicker").kendoDatePicker();
            //$("#datepicker").attr("readonly", true);
            //$("#datepickerFin").kendoDatePicker();
            //$("#datepickerFin").attr("readonly", true);
        });

        // create DatePicker from input HTML element
        $("#datepicker").kendoDatePicker();
        $("#datepicker").attr("readonly", true);
        $("#datepickerFin").kendoDatePicker();
        $("#datepickerFin").attr("readonly", true);



        $.getJSON("/Home/GetCiudadList", function (json) {
            $("#rowSelection").kendoGrid({
                dataSource: {
                    data: json,
                    pageSize: 5
                },
                selectable: "single",
                pageable: {
                    buttonCount: 5
                },
                scrollable: false,
                navigatable: true,
                columns: [
                    {
                        field: "Cedula",
                        title: "Cedula"
                    },
                    {
                        field: "NumeroDias",
                        title: "Numero de dias"
                    },
                    {
                        field: "FechaInicio",
                        title: "Fecha de inicio"
                    },
                    {
                        field: "FechaFin",
                        title: "Fecha de fin"
                    }
                ]
            });
        });


    });
</script>


