
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>

        $(document).ready(function () {

            $("#btnAgregar0").click(function () {
                if ($("#txtCedulaLogin").val() != '') {
                    $.getJSON("/Home/Login", { Cedula: $("#txtCedulaLogin").val() }, function (respuesta) {
                        var resultado = respuesta.Codigo.split('$');

                        if (resultado[0] == 1) {
                            if (resultado[1] == 1) {
                                var url = "@Url.Action("Index", "EjecutivosYPlanta", new { Valores = "ValoresData" }, null)";
                                url = url.replace("ValoresData", JSON.stringify(respuesta.Resultado.Data));
                                window.location.href = url
                            }
                            else if (resultado[1] == 2) {
                                var url = "@Url.Action("Index", "EjecutivosYPlanta", new { Valores = "ValoresData" }, null)";
                                url = url.replace("ValoresData", JSON.stringify(respuesta.Resultado.Data));
                                window.location.href = url
                            }
                            else if (resultado[1] == 3) {
                                var url = "@Url.Action("Index", "Anotador", new { Valores = "ValoresData" }, null)";
                                url = url.replace("ValoresData", JSON.stringify(respuesta.Resultado.Data));
                                window.location.href = url
                            }
                        }
                        else {
                            swal.fire({
                                title: "Advertencia!",
                                text: respuesta.Mensaje,
                                type: 'warning',
                                confirmButtonText: "OK",
                                confirmButtonColor: '#00AFF0',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            });
                        }
                    });
                }
                else {
                    swal.fire({
                        title: "Advertencia!",
                        text: "El campo documento es obligatorio.",
                        type: 'warning',
                        confirmButtonText: "OK",
                        confirmButtonColor: '#00AFF0',
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    });
                }
            });
        });

    </script>

</head>
<body>
    <div class="jumbotron">
        @*@ViewBag.eldato*@
        <div class="jumbotron-cuerpo">
            <div class="container body-content">
                <h1 class="jumbotron-encabezado center">Login</h1>
                <div class="col-md-12 center">
                    <h6>No hemos identificado un usuario en el directorio activo. Por favor ingrese su n&uacute;mero de documento</h6>
                    <label class="fieldlist-label">Documento de identidad</label>
                    <input id="txtCedulaLogin" class="k-textbox" type="number" onkeydown="return event.keyCode !== 69" />
                    <br />
                    <br />
                    <button class="btn btn-lg btn-postobon">Ingresar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>