@model Vacaciones.Models.Persona

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>

        $(document).ready(function () {

            //Validacion del campo numero de dias en pantalla principal
            $("#NumDias0").focusout(function () {
                if ($("#NumDias0").val() != '') {
                    $.getJSON("/EjecutivosYPlanta/ValidarCantidadDias", { NumeroDias: $("#NumDias0").val(), NumDiasDisponibles: parseFloat($("#SpanNumDias0").html()) }, function (respuesta) {
                        if (respuesta.Codigo == 1 || respuesta.Codigo == 2) {
                            swal.fire({
                                title: "Advertencia!",
                                text: respuesta.Mensaje,
                                type: 'warning',
                                confirmButtonText: "OK",
                                confirmButtonColor: '#00AFF0',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then((result) => {
                                if (result.value) {
                                    setTimeout(function () {
                                        $("#NumDias0").val('');
                                        $("#NumDias0").focus();
                                    }, 500)
                                }
                            });
                        }
                    })
                }
            });


            //Evento del boton aregar dentro de la ventana Principal
            $("#btnAgregar0").click(function () {
                if ($("#DocumentoHidden").val() != '' && $("#NumDias0").html() != '' && $("#kendocalendar_0").val() != '') {
                    $.post("../EjecutivosYPlanta/AgregarEmpleado", { Cedula: $("#DocumentoHidden").val(), NumeroDias: $("#NumDias0").val(), FechaInicio: $("#kendocalendar_0").val(), FechaFin: $("#kendocalendar_1").val() }, function (d) {
                        if (d.Codigo == 2) {
                            swal.fire({
                                title: "Advertencia!",
                                text: d.Mensaje,
                                type: 'warning',
                                confirmButtonText: "OK",
                                confirmButtonColor: '#00AFF0',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            });
                        }
                        else {
                            swal.fire({
                                text: d.Mensaje,
                                type: 'success',
                                confirmButtonText: "OK",
                                confirmButtonColor: '#00AFF0',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then((result) => {
                            if (result.value) {
                                var url = "@Url.Action("Index", "Home",  null)";
                                window.location.href = url
                            }
                        });


                        }
                    });
                }
                else {
                    swal.fire({
                        title: "Advertencia!",
                        text: "Debe ingresar el número de días y la fecha de para la solicitud de vacaciones.",
                        type: 'warning',
                        confirmButtonText: "OK",
                        confirmButtonColor: '#00AFF0',
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                };
            });

        });

    </script>
</head>
<body>
    <div class="jumbotron">
        <div class="jumbotron-cuerpo">
            @Html.Partial("_EncabezadoEscenario")
            @Html.Partial("_CuerpoEscenario")
        </div>
    </div>
</body>
</html>
